* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('enanan.png') no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 26px;
    color: transparent;
    position: absolute;
    opacity: 0;
    margin-top: -.5em;
    margin-left: -.5em;
    animation: fadeInOut 5s ease-in-out 2s;
    width: 600px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0, .3);
    clip-path: polygon(0% 0%, 5% 100%, 100% 100%, 95% 0%);
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 26px;
    color: transparent;
    position: absolute;
    opacity: 0;
    margin-top: -.5em;
    margin-left: -.5em;
    animation: fadeInOut 5s ease-in-out 2s;
    width: auto;
    padding: 0 70px;
    height: 50px;
    line-height: 50px;
    letter-spacing: 5px;
    text-align: center;
    background-color: rgb(0, 0, 0, .3);
    clip-path: polygon(0% 0%, 5% 100%, 100% 100%, 95% 0%);
    overflow: hidden;
}
@media (max-width: 769px) {
    html,
    body {
        background-size: cover;
        /* background-position: calc(60% + 270px) center; */
    }
    canvas {
        width: 100%;
        height: auto;
    }
    h1 {
        width: 60px;
        height: auto;
        padding: 50px 0;
        writing-mode: vertical-rl;
        text-align: center;
        line-height: 55px;
        letter-spacing: 5px;
        clip-path: polygon(0% 0%, 5% 95%, 100% 100%, 95% 5%);;
    }
    .number {
        display: inline-block;
        writing-mode: horizontal-tb;
    }
}
h1:nth-child(2) {
    animation-delay: 7s;
}
h1:nth-child(3) {
    animation-delay: 12s;
}
@keyframes fadeInOut {
    0% {
        text-shadow: 0 0 1em #FBFBFB;
        opacity: 0;
        margin-left: -.5em;
    }
    25% {
        text-shadow: 0 0 0 #FBFBFB;
        opacity: 1;
        margin-left: 0;
    }
    75% {
        text-shadow: 0 0 0 #FBFBFB;
        opacity: 1;
        margin-left: 0;
    }
    100% {
        text-shadow: 0 0 1em #FBFBFB;
        opacity: 0;
        margin-left: 0;
    }
}
